[submodule "plugin-common-node"]
	path = common-node
	url = git@github.com:UlanziTechnology/plugin-common-node.git
[submodule "plugin-common-html"]
	path = common-html
	url = git@github.com:UlanziTechnology/plugin-common-html.git
